/*index.css*/

* {
	border: none;
	text-decoration: none;
	outline: none;
}

body, html {
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.01)
}

input {
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

input:hover {
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}



#logtable_wrapper {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 5rem;
}

.navbar {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    background-color: white;
    border: none;
}

.badge-secondary {
	background-color: teal;
}

.badge-danger {
	background-color: red;
}

.badge-success {
	background-color: green;
}

.badge-info {
	background-color: #3366cc;
}

thead {
	background-color: rgba(0, 0, 0, 0.2);
	margin-bottom: 4rem;
}

.table-responsive {
	height: 75vh;
	width: 97.5vw;
	overflow-y: scroll;
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 25vh;
    float: left;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
   	background-color: white;
}

.info-bar {
	background-color: white;
	margin-top: 6.25rem;
	height: 8vh;
	width: 97.5vw;
	overflow-y: scroll;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 576px) {

	.table-responsive {
		height: 75vh;
		width: 92.5vw;
		overflow-y: scroll;
	    border-radius: 5px;
	    margin-left: auto;
  		margin-right: auto;
  		margin-bottom: 25vh;
	    float: left;
	    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
	    background-color: white;
	}
	.info-bar {
		background-color: white;
		margin-top: 6.25rem;
		height: 7vh;
		width: 92.5vw;
		overflow-y: scroll;
	    border-radius: 5px;
	    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
	   	display: flex;
  		align-items: center;
  		margin-left: auto;
  		margin-right: auto;
  		font-size: 9px;
	}

	.badge {
		font-size: 9px;
	}
}