/*index.css*/

* {
	border: none;
	text-decoration: none !important;
	outline: none;
}


td {word-wrap: break-word;}

body, html {
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.01)
}

table * {
	white-space: pre-line;
}

#ipMapInfoCard {
	color: #191A1A;
	overflow-y: scroll;
	position: absolute;
	right: 5%;
	top: 10%;
	height: 80%;
	width: 40%;
	border-radius: 4px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
	background-color: rgba(255, 255, 255, 0.90);
	padding-top: 1rem;
	padding-bottom: 3rem; 
	padding-left: 3rem;
	padding-right: 3rem;
}

#ipMapInfoCard h3 {
	align-items: center;
	text-align: center;
	font-size: 14px;
}

#ipMapInfoCard hr {
	border-color: darkgray;
}

#ipmap, .modal-body {
	padding: 0;
}

.modal-header, .modal-footer, .modal-dialog, .modal-content, .modal-body {
	background-color: white;
	border:	none;
}

.modal-title {
	color: white;
}

.modal-dismiss-btn {
	border: none;
	background-color: white;
	color: #191A1A;
	outline: none;
}
modal-dismiss-btn:hover {
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
}

#ipmap {
}

input {
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

input:hover {
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
}

.dataTables_wrapper {
	padding: 2rem;
}

.navbar {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
    background-color: #398270;;
    border: none;
}

.navbar-toggle {
	border:	none;
	background-color: transparent!important;
	outline: none;
}

.navbar-brand {
	color: white !important;
}

.badge-secondary {
	background-color: #398270;
}

.badge-danger {
	background-color: red;
}

.badge-success {
	background-color: green;
}

.badge-info {
	background-color: #398270;
}

thead {
	background-color: #9cc0b4;
}

.table-responsive {
	height: 75vh;
	width: 97.5vw;
	overflow-y: scroll;
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 25vh;
    float: left;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
   	background-color: white;
   	border: none;
}

.info-bar {
	background-color: transparent;
	margin-top: 6.25rem;
	height: 8vh;
	width: 97.5vw;
	overflow-y: scroll;
    display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	border: none;
	white-space: nowrap;
}

.info-bar div {
	border: none;
	height: 80%;
	margin-right: 0.75rem;
	margin-left: 0.75rem;
	text-align: center;
	align-content: center;
	vertical-align: center;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  	background-color: white;
  	border-radius: 5px;
}

.info-bar div:hover {
  	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.6);
  	background-color: white;
}

.info-bar .col-sm-2 .dark {
	border: none;
	height: 80%;
	margin-right: 0.75rem;
	margin-left: 0.75rem;
	text-align: center;
	align-content: center;
	vertical-align: center;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  	background-color: black;
  	border-radius: 5px;
}

@media (min-width: 576px) {

  .modal-dialog {
    width: 900px;
    margin: 30px auto;
  }
}

@media (max-width: 576px) {

	*, h4 {
		font-size: 9px;
	}

	.table-responsive {
		height: 75vh;
		width: 92.5vw;
		overflow-y: scroll;
	    border-radius: 5px;
	    margin-left: auto;
  		margin-right: auto;
  		margin-bottom: 25vh;
	    float: left;
	    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
	    background-color: white;
	    border: none;
	}
	.info-bar {
  		font-size: 9px;
  		overflow-y: scroll;
		background-color: transparent;
		margin-top: 6.25rem;
		height: 7vh;
		width: 92.5vw;
		overflow-y: scroll;
	    display: flex;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		border: none;
		white-space: nowrap;
	}

	.badge {
		font-size: 9px;
	}

	.modal-dialog {
	    width: 300px;
	    margin: 30px auto;
  }
	#ipMapInfoCard {
		overflow-y: scroll;
		position: absolute;
		right: 5%;
		top: 45%;
		height: 50%;
		width: 90%;
		border-radius: 7px;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
		background-color: white;
	}
	.modal-header h4 span {
		font-size: 15px;
	}
}